.list-element-1 {
  list-style-image: url(assets/fleche.svg);
  padding-left: 35px;
}
.list-element-2 {
  list-style-image: url(assets/penlist.svg);
  padding-left: 35px;
}
.list-element-3 {
  list-style-image: url(assets/dl.svg);
  padding-left: 35px;
}
.list-element-4 {
  list-style-image: url(assets/star.svg);
  padding-left: 35px;
}
.list-element-5 {
  list-style-image: url(assets/time.svg);
  padding-left: 35px;
}
.list-element-6 {
  list-style-image: url(assets/msg.svg);
  padding-left: 35px;
}
.list-element-7 {
  list-style-image: url(assets/hand.svg);
  padding-left: 35px;
}
.list-element-8 {
  list-style-image: url(assets/heart.svg);
  padding-left: 35px;
}
.list-element-9 {
  list-style-image: url(assets/pen.svg);
  padding-left: 35px;
}
.list-element-10 {
  list-style-image: url(assets/settings.svg);
  padding-left: 35px;
}
.list-element-11 {
  list-style-image: url(assets/profil.svg);
  padding-left: 35px;
}
.list-element-12 {
  list-style-image: url(assets/loc.png);
  position: relative;
  right: -24px;
}
.list-element-13 {
  list-style-image: url(assets/phone.png);
  position: relative;
  right: -24px;
}
.list-element-14 {
  list-style-image: url(assets/mail.png);
  position: relative;
  right: -24px;
}
