* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

/* IMAGE */

.logo {
  width: 84px;
}
.img-formation {
  width: 305px;
  height: 206px;
}
.burger-icon {
  width: 24px;
}
/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background-color: #152237;
  font-size: 15px;
}
.head-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 30%;
  h1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
}
.head-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 30%;
  border: solid 1px #ffffff;
  border-radius: 6px;
  .button-search {
    background: none;
    border: none;
  }
  input {
    background-color: #152237;
    width: 100%;
    height: 40px;
    border: none;
    color: white;
  }
}
.head-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 19px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .inscription-button {
    background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  }
}

/* MAIN */
/* BANNER */
.banner-background {
  width: 100%;
  height: 450px;
  background-image: url(assets/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background: linear-gradient(
    94.01deg,
    rgba(68, 221, 138, 0.8) 3.11%,
    rgba(21, 183, 226, 0.8) 98.45%
  );
  h2 {
    font-size: 48px;
    font-weight: 800;
    color: #152237;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  a {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
}
/* SECTION 1 */
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 30px 53px;
  h2 {
    font-size: 36px;
    font-weight: 800;
  }
}
.formation-container {
  text-align: center;
  .card-content {
    width: 300px;
    height: 170px;
  }
}
.formation-container-impair {
  background-color: #152237;
  text-align: center;
  color: #ffffff;
  .formation-card h3 {
    color: #ffffff;
  }
  .price {
    background-color: #ffffff;
    color: #152237;
  }
  .formation-button {
    background-color: #ffffff;
    color: #152237;
  }
}
.price {
  position: relative;
  top: -15.79px;
  right: -58%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  background-color: #152237;
  border-radius: 93px;
  width: 120px;
  height: 31.58px;
  .price-p {
    font-weight: 700;
  }
  del {
    font-size: 10px;
    font-weight: 400;
  }
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.formation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 362px;
  height: 360px;
  h3 {
    text-align: start;
    position: relative;
    left: 11px;
    font-size: 24px;
    font-weight: 700;
    color: #152237;
  }
  p {
    text-align: start;
    position: relative;
    left: 11px;
    font-size: 16px;
    font-weight: 400;
  }
  .stars {
    position: relative;
    left: 11px;
    text-align: start;
  }
}
.formation-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 40px;
  margin: 50px 0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
  background-color: #152237;
  font-size: 15px;
  font-weight: 500;
}

/* SECTION 2 */
.feedback-title {
  font-size: 40px;
  font-weight: 900;
  margin: 50px 0;
}
.feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 130px;
  gap: 24px;
  .feedback-article {
    width: 40.06%;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    .paragraph {
      text-align: start;
    }
    .feedback-username {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

/* SECTION 3 */
.advantages-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 40px;
}
.advantages-list-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 686px;
  height: 641px;
  h2 {
    font-size: 40px;
    font-weight: 900;
    text-align: start;
    width: 100%;
  }
}
.advantage-img {
  width: 40%;
  margin: 20px 0 40px 0;
}
.desktop-img {
  width: 40%;
  margin: 20px 0 40px 0;
}
.element-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 295px;
  width: 616px;
  li {
    font-size: 24px;
    font-weight: 400;
  }
}

.list-element-1 {
  list-style-image: url(assets/fleche.png);
  padding-left: 35px;
}
.list-element-2 {
  list-style-image: url(assets/crayon.png);
  padding-left: 35px;
}
.list-element-3 {
  list-style-image: url(assets/download.png);
  padding-left: 35px;
}
.list-element-4 {
  list-style-image: url(assets/star.png);
  padding-left: 35px;
}
.list-element-5 {
  list-style-image: url(assets/time.png);
  padding-left: 35px;
}
.list-element-6 {
  list-style-image: url(assets/msg.png);
  padding-left: 35px;
}
.list-element-7 {
  list-style-image: url(assets/hand.png);
  padding-left: 35px;
}
.list-element-8 {
  list-style-image: url(assets/heart.png);
  padding-left: 35px;
}
.list-element-9 {
  list-style-image: url(assets/pen.png);
  padding-left: 35px;
}
.list-element-10 {
  list-style-image: url(assets/settings.png);
  padding-left: 35px;
}
.list-element-11 {
  list-style-image: url(assets/profilp.png);
  padding-left: 35px;
}

.advantages-list-container-impair {
  flex-direction: row-reverse;
  background-color: #44dd8a;
}

.element-list-impair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 352px;
  width: 616px;
  li {
    font-size: 24px;
    font-weight: 400;
  }
}

/* SECTION 4 */

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-evenly;
  width: 54%;
  padding: 11.5vh 6.56%;
  height: auto;

  h2 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}
.right {
  background-color: #152237;
}
.about-img-bloc {
  text-align: center;
  width: 55vw;
  display: block;
  overflow: auto;
}

/* SECTION 4 */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  h2 {
    padding: 40px 0 30px 0;
    font-size: 40px;
    font-weight: 900;
  }
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 83.44%;
  max-width: 1200px;
  height: auto;
}

.first-line-input {
  width: 100%;
  height: 45.25px;
  font-size: 15px;
  font-weight: 400;
  background-color: #152237;
  border: none;
  color: white;
  padding: 0 18px;
}

.textarea {
  grid-column: 1 / -1;
  height: 194px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  background-color: #152237;
  border: none;
  color: #ffffff;
  padding: 18px;
  resize: vertical;
}

.form-submit {
  grid-column: 1 / -1;
  border: none;
  background-color: #44dd8a;
  height: 45px;
  width: 200px;
  border-radius: 6px;
  margin: 50px auto;
}

.separation-line {
  border: solid 1px #44dd8a;
  height: 1px;
  width: 350px;
  margin-bottom: 60px;
}

/* FOOTER */
.footer-logo {
  width: 30%;
}
footer {
  background-color: #152237;
}

.footer-separation {
  height: 18px;
  width: 100%;
  background: linear-gradient(90.01deg, #44dd8a 2.38%, #18a0fb 100%);
}
.footer-intern-separation {
  border: solid 1px #44dd8a;
  margin: 0 7.47%;
}
.first-section-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 6%;
  gap: 65px;
  color: #ffffff;
}
.list-element-12 {
  list-style-image: url(assets/loc.png);
  position: relative;
  right: -24px;
}
.list-element-13 {
  list-style-image: url(assets/phone.png);
  position: relative;
  right: -24px;
}
.list-element-14 {
  list-style-image: url(assets/mail.png);
  position: relative;
  right: -24px;
}

.first-parts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  li {
    list-style: none;
  }
}
.second-parts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 19px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .inscription-button {
    background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  }
}

.second-section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 7.47%;
  color: #ffffff;
  font-size: 15px;
  .klivio {
    padding: 20px 0 127px 0;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 25px;
  height: 140px;
  width: 200px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20.56%;
  padding: 20px 0 135px 0;
}

/* MEDIAQUERIES MOBILE */
.mobile-header {
  display: none;
}
.mobile-img {
  display: none;
}
@media screen and (max-width: 600px) {
  /* HEADER */
  .head-1 {
    display: none;
  }
  .head-2 {
    display: none;
  }
  .head-3 {
    display: none;
  }
  .mobile-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 4.31%;
  }
  .banner {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    h2 {
      width: 80%;
      font-size: 32px;
    }
    p {
      width: 80%;
      font-size: 20px;
      font-weight: 500;
    }
  }
  /* SECTION 1 */
  .card-section {
    flex-direction: column;
  }
  .formation-card {
    width: 80%;
    padding-bottom: 47px;
  }
  .title-container {
    min-width: 100%;
    justify-content: center;
    padding-left: 0;
    width: 80%;
    .empty {
      display: none;
    }
    h2 {
      font-size: 30px;
      font-weight: 800;
      line-height: 40px;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .formation-container {
    .card-content {
      width: 60%;
      .price {
        right: -58.25%;
      }
    }
  }
  /* SECTION 2 */
  .feedback-container {
    flex-direction: column;
    width: 100%;
    .feedback-article {
      text-align: center;
      width: 80%;
    }
  }
  /* SECTION 3 */

  .advantages-list-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    .advantages-list-bloc {
      width: 100%;
      height: auto;
      .mobile-img {
        display: inline;
        width: 75%;
        margin: 20px 0;
      }
      h2 {
        width: 70%;
        text-align: center;
        margin: 30px 0;
      }
      .element-list {
        width: 75%;
        height: auto;
        li {
          margin: 10px 0;
        }
      }
      .element-list-impair {
        width: 75%;
        height: auto;
        margin-bottom: 30px;
        li {
          margin: 10px 0;
        }
      }
    }
  }

  .desktop-img {
    display: none;
  }

  /* SECTION 4 */
  .about-section {
    flex-direction: column;
    .about-img-bloc {
      img {
        width: 70%;
        height: auto;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: auto;
    }
    .about-bloc {
      width: 100%;
      height: auto;
      h2 {
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        line-height: 28px;
      }
    }

    .textarea,
    .form-submit {
      grid-column: auto;
    }
    .form-submit {
      width: 150px;
    }
  }

  /* SECTION 5 */
  .contact-form-container {
    .contact-form {
      grid-template-columns: 1fr;
      width: 90%;
      div.first-line-form {
        flex-direction: column;
        .first-line-input {
          width: 100%;
          margin: 18px 0;
        }
      }
    }
  }

  /* SECTION FOOTER */
  .first-section-footer {
    flex-direction: column;
    .first-parts {
      flex-direction: column;
      gap: 60px;
      .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .second-parts {
      flex-direction: column;
      .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        ul li {
          padding-left: 20px;
          font-size: 15px;
        }
      }
      nav {
        display: none;
      }
    }
  }
  .footer-intern-separation {
    display: none;
  }
  .second-section-footer {
    display: none;
  }
}
