* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background-color: #152237;
  font-size: 15px;
}
.head-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 30%;
  h1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
}
.head-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 30%;
  border: solid 1px #ffffff;
  border-radius: 6px;
  .button-search {
    background: none;
    border: none;
  }
  input {
    background-color: #152237;
    width: 100%;
    height: 40px;
    border: none;
    color: white;
  }
}
.head-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 19px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .inscription-button {
    background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  }
}

/* MAIN */
/* BANNER */
.banner-background {
  width: 100%;
  height: 450px;
  background-image: url(assets/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background: linear-gradient(
    94.01deg,
    rgba(68, 221, 138, 0.8) 3.11%,
    rgba(21, 183, 226, 0.8) 98.45%
  );
  h2 {
    font-size: 48px;
    font-weight: 800;
    color: #152237;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  a {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
}
/* SECTION 1 */
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 30px 6.06%;
  h2 {
    font-size: 36px;
    font-weight: 800;
  }
}
.formation-container {
  text-align: center;
}
.formation-container-impair {
  background-color: #152237;
  text-align: center;
  color: #ffffff;
  .formation-card h3 {
    color: #ffffff;
  }
  .price {
    background-color: #ffffff;
    color: #152237;
  }
  .formation-button {
    background-color: #ffffff;
    color: #152237;
  }
}
.price {
  position: relative;
  top: -15.79px;
  right: -174px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  background-color: #152237;
  border-radius: 93px;
  width: 120px;
  height: 31.58px;
  .price-p {
    font-weight: 700;
  }
  del {
    font-size: 10px;
    font-weight: 400;
  }
}
.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.formation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 307px;
  height: 362px;
  h3 {
    position: relative;
    left: 11px;
    font-size: 24px;
    font-weight: 700;
    color: #152237;
  }
  p {
    position: relative;
    left: 11px;
    font-size: 16px;
    font-weight: 400;
  }
  .stars {
    position: relative;
    left: 11px;
  }
}
.formation-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 40px;
  margin: 50px 0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
  background-color: #152237;
  font-size: 15px;
  font-weight: 500;
}

/* SECTION 2 */
.feedback-title {
  font-size: 40px;
  font-weight: 900;
  margin: 50px 0;
}
.feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 130px;
  .feedback-article {
    width: 43.06%;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    .feedback-username {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

/* SECTION 3 */
.advantages-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
}
.advantages-list-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 641px;
  h2 {
    font-size: 40px;
    font-weight: 900;
  }
}
.element-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 295px;
  width: 616px;
  li {
    font-size: 24px;
    font-weight: 400;
  }
}

.list-element-1 {
  list-style-image: url(assets/fleche.png);
  padding-left: 35px;
}
.list-element-2 {
  list-style-image: url(assets/crayon.png);
  padding-left: 35px;
}
.list-element-3 {
  list-style-image: url(assets/download.png);
  padding-left: 35px;
}
.list-element-4 {
  list-style-image: url(assets/star.png);
  padding-left: 35px;
}
.list-element-5 {
  list-style-image: url(assets/time.png);
  padding-left: 35px;
}
.list-element-6 {
  list-style-image: url(assets/msg.png);
  padding-left: 35px;
}
.list-element-7 {
  list-style-image: url(assets/hand.png);
  padding-left: 35px;
}
.list-element-8 {
  list-style-image: url(assets/heart.png);
  padding-left: 35px;
}
.list-element-9 {
  list-style-image: url(assets/pen.png);
  padding-left: 35px;
}
.list-element-10 {
  list-style-image: url(assets/settings.png);
  padding-left: 35px;
}
.list-element-11 {
  list-style-image: url(assets/profilp.png);
  padding-left: 35px;
}

.advantages-list-container-impair {
  flex-direction: row-reverse;
  background-color: #44dd8a;
}

.element-list-impair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 352px;
  width: 616px;
  li {
    font-size: 24px;
    font-weight: 400;
  }
}

/* SECTION 4 */

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 740px;
  width: 100%;
}
.about-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 11.5vh 6.56%;
  height: 372px;

  h2 {
    font-size: 40px;
    font-weight: 900;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}
.right {
  background-color: #152237;
}
.about-img-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 11.5vh 6.56%;
}

/* SECTION 4 */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 585px;
  margin: 50px 0;
  h2 {
    font-size: 40px;
    font-weight: 900;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 83.44%;
    height: 400px;
    .first-line-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .first-line-input {
        width: 43.44%;
        height: 45.25px;
        font-size: 15px;
        font-weight: 400;
        background-color: #152237;
        border: none;
        color: white;
        padding: 0 18px;
      }
    }
  }
}
.textarea {
  height: 194px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  background-color: #152237;
  border: none;
  color: #ffffff;
  padding: 0 18px;
}
.separation-line {
  border: solid 1px #44dd8a;
  height: 1px;
  width: 350px;
}
.form-submit {
  border: none;
  background-color: #44dd8a;
  height: 45px;
  width: 21.88%;
  border-radius: 6px;
}

/* FOOTER */
footer {
  background-color: #152237;
}

.footer-separation {
  height: 18px;
  width: 100%;
  background: linear-gradient(90.01deg, #44dd8a 2.38%, #18a0fb 100%);
}
.footer-intern-separation {
  border: solid 1px #44dd8a;
  margin: 0 7.47%;
}
.first-section-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 6%;
  gap: 65px;
  color: #ffffff;
}
.list-element-12 {
  list-style-image: url(assets/loc.png);
  position: relative;
  right: -24px;
}
.list-element-13 {
  list-style-image: url(assets/phone.png);
  position: relative;
  right: -24px;
}
.list-element-14 {
  list-style-image: url(assets/mail.png);
  position: relative;
  right: -24px;
}

.first-parts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  li {
    list-style: none;
  }
}
.second-parts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 19px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .inscription-button {
    background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  }
}

.second-section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 7.47%;
  color: #ffffff;
  font-size: 15px;
  .klivio {
    padding: 38px 0 127px 0;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 25px;
  height: 140px;
  width: 200px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20.56%;
  padding: 38px 0 135px 0;
}

/* MEDIAQUERIES MOBILE */
.mobile-header {
  display: none;
}
@media screen and (max-width: 600px) {
  /* HEADER */
  .head-1 {
    display: none;
  }
  .head-2 {
    display: none;
  }
  .head-3 {
    display: none;
  }
  .mobile-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 4.31%;
  }
  .banner {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    h2 {
      width: 80%;
      font-size: 32px;
    }
    p {
      width: 80%;
      font-size: 20px;
      font-weight: 500;
    }
  }
  /* SECTION 1 */
  .card-section {
    flex-direction: column;
  }
  .title-container {
    width: 100%;
    text-align: center;
    padding-left: 0;
    width: 80%;
    .empty {
      display: none;
    }
    h2 {
      font-size: 30px;
      font-weight: 800;
      line-height: 40px;
      text-align: center;
    }
  }
  /* SECTION 2 */
  .feedback-container {
    flex-direction: column;
    width: 100%;
  }
  .feedback-article {
    width: 100%;
  }
}
