* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background-color: #152237;
  font-size: 15px;
}
.head-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 30%;
  h1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
}
.head-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 30%;
  border: solid 1px #ffffff;
  border-radius: 6px;
  .button-search {
    background: none;
    border: none;
  }
  input {
    background-color: #152237;
    width: 447px;
    height: 40px;
    border: none;
  }
}
.head-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 19px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .inscription-button {
    background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  }
}

/* MAIN */
/* BANNER */
.banner-background {
  width: 100%;
  height: 450px;
  background-image: url(assets/bg-header.png);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background: linear-gradient(
    94.01deg,
    rgba(68, 221, 138, 0.8) 3.11%,
    rgba(21, 183, 226, 0.8) 98.45%
  );
  h2 {
    font-size: 48px;
    font-weight: 800;
    color: #152237;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  a {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    text-decoration: none;
    color: #152237;
    background-color: #ffffff;
    border-radius: 6px;
  }
}
/* SECTION 1 */

.price {
  position: relative;
  top: -15.79px;
  right: -174px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  background-color: #152237;
  border-radius: 93px;
  width: 120px;
  height: 31.58px;
  .price-p {
    font-weight: 700;
  }
  del {
    font-size: 10px;
    font-weight: 400;
  }
}
.formation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 307px;
  height: 362px;
  h3 {
    position: relative;
    left: 11px;
    font-size: 24px;
    font-weight: 700;
    color: #152237;
  }
  p {
    position: relative;
    left: 11px;
    font-size: 16px;
    font-weight: 400;
  }
  .stars {
    position: relative;
    left: 11px;
  }
}
